.budgetSummary {
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.budgetSummary__container {
  padding: 40px 16px;
}

.budgetSummary__form {
  display: flex;
  flex-direction: column;
}

.radio__wrapper--1 {
  margin-bottom: 20px;
  margin-top: 24px;
}

.budgetSummary__strip {
    margin-bottom: -4px;
    width: 100%;
    background: #fff;
    color: rgba(220, 203, 203, 0.13);}

@media (min-width: 768px) {
  .radio__wrapper {
    flex-shrink: 0;
  }

  .radio__wrapper--1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .budgetSummary__container {
    padding: 60px 40px;
    margin: 0 auto;
  }

  .budgetSummary__form {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  .budgetSummary__form--selectWrapper {
    width: 216px;
  }
}

@media (min-width: 1024px) {

    .budgetSummary {
        height: 832px;
        margin: 0 auto;
    }

  .budgetSummary__form {
    width: 820px;
  }

  .budgetSummary__container {
    padding: 80px 0px;
    margin: 0 auto;
    width: 75%;
  }
}

.dataDisplay__container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
}

.dataDisplay__showcase {
  background-color: #f2f2f2;
  /* background-color: var(--neutral-grey); */
  padding: 20px;
}

.dataDisplay__showcase--heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  color: #333;
  line-height: 66px;
}

.dataDisplay__showcase--lead {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 149%;
  color: #333;
}

.dataDisplay__list {
  list-style: none;
  padding: 32px 0px;
}

.dataDisplay__list > li {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 149%;
  color: #162227;
  position: relative;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.dataDisplay__list > li:last-child {
  margin-bottom: 0px;
}

.dataDisplay__list > li:before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #8b5d5d;
  position: absolute;
  left: 0;
}
.dataDisplay__list > li:last-child:before {
  background-color: #f0f0ee;
}

.dataDisplay__showcase--bottomLead {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 149%;
  color: #162227;
}

.dataDisplay__container--bottom {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.dataDisplay__container--bottom-section1 {
  background-color: #874545;
  padding: 20px;
  padding-bottom: 40px;
}

.section1__header {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  text-align: right;
  color: rgba(255, 255, 255, 0.66);
}

.section1__content {
  padding-top: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  color: #fff;
}

.section__content--header {
  font-size: 18px;
  line-height: 27px;
  font-weight: normal;
}

.section1__content--leadMajor {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
}

.section1__content--leadMedium {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
}

.section1__content--leadMinor {
  font-weight: normal;
  font-size: 16px;
  line-height: 149%;
}

.section2__wrapper {
  padding: 32px 20px;
  background: #8b5d5d;
}

.section2__content {
  color: #fff;
}

.section2__header {
  line-height: 0 !important;
}

.section2__content--leadMajor {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
}

.section2__content--leadMinor {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.section3__wrapper {
  background: #b59191;
  padding: 18px;
}

.section3__top {
  display: flex;
  justify-content: space-between;
  color: #333333;
}

.section3__content--leadMajor {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  color: #333333;
}

.section3__content--leadMinor {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.section3__header {
  color: rgba(22, 34, 39, 0.4) !important;
}

.section4__wrapper {
  background: #dccbcb;
  padding: 18px;
}

.section5__wrapper {
  padding: 16px;
  background: #f0f0ee;
}

@media (min-width: 768px) {
  .dataDisplay__container {
    padding-top: 57px;
  }

  .dataDisplay__showcase {
    padding: 28px;
  }

  .dataDisplay__list > li {
    margin-bottom: 16px;
  }

  .dataDisplay__container--bottom {
    flex-direction: row;
    padding-top: 32px;
  }

  .dataDisplay__container--bottom-section1 {
    flex-basis: 50%;
    flex-shrink: 0;
  }

  .dataDisplay__container--bottom-section2 {
    flex-grow: 1;
  }

  .section2__content--leadMajor {
    font-size: 24px;
    line-height: 36px;
  }

  .section2__content--leadMinor {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (min-width: 1024px) {


  .dataDisplay__container {
    flex-direction: row;
  }

  .dataDisplay__container--top {
    flex-basis: 32%;
    margin-right: 32px;
    flex-shrink: 0;
  }

  .dataDisplay__container--bottom {
    flex-grow: 1;
  }

  .dataDisplay__container--bottom {
    padding-top: 0px;
  }
}
