.prefooter__wrapper {
    background: rgba(220, 203, 203, 0.13);

}

.prefooter__container {
    padding: 40px 16px;
}

.prefooter__content--leadMajor {
    font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 31px;
color: #601A46;
margin-bottom: 16px;
}

.prefooter__content--top {
    margin-bottom: 42px;
}

.prefooter__content--leadMinor {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.prefooter__content--bottom > img {
    width: 100%;
}

@media (min-width: 768px) {
    .prefooter__content--bottom > img {
        height: 427px;
    } 

}

@media (min-width: 1024px) {
    .prefooter__wrapper {
        height: 527px;
        display: flex;
        align-items: center;
    }
    .prefooter__container {
        width: 75%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 40px 0px;

    }

    .prefooter__content--top {
        flex-basis: 50%;
        padding-right: 32px;
        margin: 0px;
    }

    .prefooter__content--bottom > img {
        height: 287px;
    } 


    .prefooter__content--bottom {
        flex-basis: 50%;
    }
}
@media (min-width: 1028px) {

    .prefooter__container {
        width: 1200px;
    }

}