.showcase {
  height: 723px;
  position: relative;
  background: #174254;
  background: url("https://res.cloudinary.com/dqw7jnfgo/image/upload/q_20/v1606985852/Healt%20tracka%20budgit/Hero_Desktop.jpg") no-repeat;
  background-size: cover;
  overflow: hidden;
}

.showcase__bottomDivider {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: -4px;
  color: #fff;
  /* background: red; */
}

.showcase__container {
  padding: 32px 16px;
  height: 100%;
  flex-direction: column;
  display: flex;
}

.showcase__logo-wrapper {
  width: 70px;
  height: 20px;
}

.showcase__logo-sub {
  color: #CEB6B6;
  color: var(--primary-text-color-light);
  font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
}


.showcase__content {
  display: flex;
  margin: auto 0;
  flex-direction: column;
  justify-content: center;
}

.showcase__content--header {
  font-size: 44px;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 108%;
  margin: 0;
  margin-bottom: 20px;
}

.showcase__content--lead {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #fff;
  line-height: 32px;
  margin-bottom: 20px;
}

.showcase__content--btn {
  height: 61px;
  cursor: pointer;
}

/* @media (min-width: 640px) { ... }*/

@media (min-width: 768px) {
  .showcase {
    height: 768px;
    background: url("https://res.cloudinary.com/dqw7jnfgo/image/upload/q_20/v1606985852/Healt%20tracka%20budgit/Hero_Desktop.jpg") no-repeat;
    background-size: cover;
  }

  .showcase__container {
    padding: 32px;
  }

  .showcase__content {
    transform: translateY(-25%);

  }

  .showcase__content--header {
    font-size: 72px;
    line-height: 108%;
  }

  .showcase__content--lead {
    font-size: 16px;
    line-height: 25px;
  }

  .showcase__content--btn {
    width: 377px;

  }
}

@media (min-width: 1024px) { 

  /* .showcase {
    background: #174254;
    background-size: cover;
    overflow: hidden;
    background: url("https://res.cloudinary.com/dqw7jnfgo/image/upload/q_20/v1606985852/Healt%20tracka%20budgit/Hero_Desktop.jpg") no-repeat;

  } */

    .showcase__container {
        padding: 32px 0px;
        width: 75%;
        margin: 0px auto;
      }

      .showcase__content {
          width: 555px;
      }

      .showcase__content--btn {
        height: 52px;
        width: 318px;
      }
 } 
@media (min-width: 1280px) { 
  .showcase  {
    background-position: top -200px right 0px;
  }
    .showcase__container {
        width: 1200px;
      }
 } 
