@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --primary-text-color: #601A46;
    --primary-text-color-light: #CEB6B6;

    --neutral-black: #333333;
    --neutral-grey: #F2F2F2;
}
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}